@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap');

:root {
  font-size: 100%;
  font-style: 16px;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  --primary-color-green: #6A8F4D;
  --second-color-green: #807B32;
  --first-color-brown: #7A4826;
  --second-color-brown: #BDA493;
  --disable-color-button: #B2B2B2;
  --gray-light: hsla(0, 0%, 92%, 1);
  --gray-soft: hsla(0, 4%, 69%, 1);
}

body {
  padding: 0;
  margin: 0;
  margin: 0;
  /* ? */
  font-weight: 500;
}

/* Header */

.image-header {
  height: 50rem;
  /* height: 881px; */
  background-size: cover;
  background-position: 40% 50%;

}

.image-header:after {
  content: '';
  height: 50rem;
  /* height: 881px; */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  z-index: 1;
  background: rgba(0, 0, 0, 0.2);
}

.text-header {
  position: relative;
  color: #fff;
  padding-top: 12.5rem;
  padding-left: 50%;
  z-index: 2;
  text-align: center;
}

.text-header h1 {
  font-size: 3.75rem;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.30)
}

.btn-header {
  display: block;
  width: 28rem;
  padding: 1rem;
  margin: auto;
  margin-top: 7rem;
  font-size: 2.75rem;
  border-radius: 10px;
  border: 2px solid #fff;
  background-color: #fff;
  color: #7A4826;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1rem;
  box-shadow: 10px 20px 10px 5px rgba(0, 0, 0, 0.40);
}

.btn-header:active {
  border: none;
  transform: translateY(1%) scale(0.98);
  transform-origin: center;
}

.btn-header:hover {
  cursor: pointer;
  /* box-shadow: 5px 18px 8px 4px rgba(0, 0, 0, 0.35); */
}

.btn-header:focus {
  outline: 0 !important;
}

/* NAV BAR */

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 60px;
  padding: 0px 0px 0px 0px;
  position: fixed;
  background: rgba(0, 0, 0, 0.60);
  color: rgba(255, 255, 255, 1.0);
  z-index: 10;
  backdrop-filter: blur(7px)
    /*saturate(90%) */
  ;
}

.menu-right {
  display: inline-flex;
  margin-right: 10rem;
}

.menu-left {
  margin-left: 10rem;
  cursor: pointer;
  z-index: 3;
}

.navbar ul li {
  display: block;
  cursor: pointer;
  list-style: none;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 20px;
  z-index: 3;
}

.navbar ul li:hover a {
  color: rgba(255, 255, 255, 1);
}

.navbar ul li h2 a {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: .05rem;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.75);
}

.navbar ul li h2 a i {
  letter-spacing: .5rem;
}

/* SIDE BARNAV */

.modalBackground {
  position: fixed;
  background: rgba(0, 0, 0, .4);
  width: 100%;
  height: 100%;
  z-index: 10;
  backdrop-filter: blur(10px) saturate(25%);
}

.sideBarBody {
  position: fixed;
  display: flex;
  flex-direction: column;
  color: #707070;
  height: 100%;
  width: 20%;
  align-items: center;
  background-color: #D6D4D3;
}

.sideBarBody i {
  display: block;
  text-align: end;
  margin: 1.5625rem 1.875rem 0px auto;
  font-size: 2rem;
  cursor: pointer;
}

.userSideBar {
  clip-path: circle(50% at 50% 50%);
}

.photoUser {
  border-radius: 50%;
  border: solid 10px #fff;
  /* clip-path: circle(50% at 50% 50%); */
  width: 12rem;
  height: 12rem;
}

.userNickAndPoints {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.userNickAndPoints strong {
  font-size: 1.25rem;
}

.linksSideNavBar ul,
.logOut ul {
  padding: 0rem;

}

.linksSideNavBar ul li,
.logOut ul li {
  list-style: none;
}

.linksSideNavBar ul li h2 a,
.logOut ul li h2 a {
  text-decoration: none;
  display: block;
  cursor: pointer;
  color: var(--first-color-brown);
  background-color: #fff;
  padding: 0.625rem;
  padding-left: 20%;
}

/* .logOut ul li h2 a {} */

.linksSideNavBar,
.logOut {
  width: 100%;
}

.logOut ul li h2 a {
  color: #fff;
  margin-top: 20%;
  background: var(--first-color-brown);
  box-sizing: border-box;
  padding: 0.625rem;
  width: 100%;
  text-align: center;

}

/* TITLE SECTION */

.title-section {
  display: block;
  padding: 1rem 0;
}

.title-text {
  font-size: 2.75rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1rem;
  color: var(--second-color-green);
  text-align: center;
}

/*  Attraction Section Left*/

.contaniner {
  display: flex;
  flex-direction: row;
  height: 45rem;
  background: #fff;
  margin: 0 10rem;
  position: relative;
}

/* left section */
.body-section {
  display: flex;
  max-width: 50%;
  height: 100%;
  background: #fff;
  align-items: stretch;
}

.article {
  justify-content: space-between;
  /* max-width: 60%; */
}

.title-header {
  display: flex;
  flex-direction: row;
  font-size: 3.75rem;
  letter-spacing: .5rem;
  margin-top: 1rem;
  margin-bottom: 3.25rem;
}

.title-regular {
  margin: 0;
  font-weight: normal;
  padding-right: 1rem;
}

.title-bold {
  padding-left: 1rem;
  font-weight: bold;
  margin: 0;
  color: var(--primary-color-green);
  text-transform: uppercase;
}

.article div {
  width: 50rem;
}

.description-attraction {
  height: 2rem;
  font-size: 1.4rem;
  margin: 1.25rem 15rem 3.875rem 04rem;
  font-weight: normal;
}

.background-text {
  margin: 0;
  font-size: 16.875rem;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--first-color-brown);
  opacity: 15%;
  z-index: 0;
  line-height: 120%;
}

/* BUTTON  */

.btn {
  height: 3.125rem;
  text-transform: uppercase;
  border: none;
  font-size: 1.25rem;
  font-weight: 500;
  cursor: pointer;
  padding: .75rem 3rem;
}

.btn-green {
  background-color: var(--primary-color-green);
  color: #fff;
}

.btn-brown {
  background-color: var(--first-color-brown);
  color: #fff;
}

.btn p {
  margin: 0;
}

.btn:focus {
  outline: 0 !important;
}

.btn:hover {
  border: none;
  box-shadow: 10px 10px 10px 2px rgba(0, 0, 0, 0.20);
}

.btn:active {
  border: none;
  box-shadow: 10px 10px 10px 2px rgba(0, 0, 0, 0.1);
  transform: translateY(1%) scale(0.98);
  transform-origin: center;
}

.btn-capitalize {
  text-transform: lowercase;
}

.btn-capitalize::first-letter {
  text-transform: capitalize;
}

.btn-radius {
  border-radius: 5px;
}

.article .btn {
  margin-top: 3.25rem;
}

/*  Attraction Section Right */

.right-section-attraction {
  position: relative;
  display: flex;
  right: 0%;
  /* width: 680px; */
  flex-direction: column;
  z-index: 1;
  /* object-position: 100% 100%; */
  /* transform: scale(0.85); */
}

.parent-image-attraction {
  filter: drop-shadow(20px 20px 20px rgba(0, 0, 0, 0.4));

}

.image-attraction {
  position: relative;
  /* top: -3.2rem; */
  width: 42.5rem;
  height: 42.5rem;
  object-fit: contain;
  object-position: 0% 0%;
  /* transform: scale(0.85); */
  z-index: 1;
}

.clip-path {
  clip-path: polygon(35% 0%, 100% 0%, 65% 100%, 0% 100%);
}

/* .image-attraction {
  object-fit: cover;
  object-position: 100% 100%;
} */

.carousel-buttons {
  position: absolute;
  bottom: 10px;
  right: -140px;
  display: flex;
  align-items: flex-end;
  transform: scale(.45);
}

.btn-carousel {
  margin: 1px;
  height: 6rem;
  transform: scale(1);
  background: var(--first-color-brown);
}

/* OPINIONS */

.flex-direction-col {
  flex-direction: column;
}

.flex-direction-row {
  flex-direction: row;
}

.opinios-body {
  display: flex;
  justify-content: space-around;
}

.article-body {
  width: 25%;
}

.image-user {
  width: 128px;
  height: 128px;
  clip-path: circle(50% at 50% 50%);
}

.nick-user h2 {
  font-size: 2.5rem;
  color: var(--first-color-brown);
}

.description p {
  font-size: 1.5rem;
  font-style: italic;
  font-weight: normal;
  margin-right: 1rem;
}

.contact-link {
  color: var(--primary-color-green);
}

/* CONTACT SECTION */

.contact-section {
  flex-direction: column;
  width: 50%;
  align-items: center;
}

.contact-section div {
  text-align: center;
}

.contact-section div h2 {
  font-size: 3.125rem;
}

.contact-section div p,
address,
address a {
  font-size: 2.5rem;
  font-weight: bold;
  color: #000;
  opacity: 0.75;
  text-decoration: none;
  font-style: normal;
}

.contact-section div p a {
  color: var(--primary-color-green);
  text-decoration: none;
  opacity: 100%;
}

.contact-section div span {
  color: var(--second-color-brown);
}


.contact-section div i {
  font-size: 6.25rem;
  color: var(--first-color-brown);
}

.socialMedia {
  display: flex;
  margin-top: 3rem;
  margin-bottom: 6rem;
  width: 60%;
  justify-content: space-around;
}

/* LOGIN & SIGNIN & REMEMBER_PASSWORD MODAL */

.modalContainerCenter {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.loginModal,
.signinModal,
.rememberPasswordModal {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  width: 61.475rem;
  height: 42.195rem;
  /* display: flex;
  position: fixed; */
  /* width: 62.5rem; */
  /* height: 31.25rem; */
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
}


.imageModalContainer {
  display: flex;
  width: 50%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.modalImage {
  width: 100%;
  height: 100%;
}

.inputModalContainer {
  display: flex;
  width: 50%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputModalContainer form {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.inputModalContainer form input {
  padding: .75rem;
  border-radius: 5px;
  margin: 1rem;
  border: solid 1px #707070;
  font-size: 1.1rem;
}

.inputModalContainer form input:focus {
  outline-width: 0;
}


.inputModalContainer form label {
  margin-left: 2rem;
  margin-bottom: -1rem;
  /* margin-bottom: -1rem; */
}

.btn-login {
  font-weight: bold;
  border: none;
  margin: 2rem 1rem;

}

.btnSignInRemindPassword {
  display: flex;
  flex-direction: row;

}

.btnSignInRemindPassword p {
  display: flex;
  color: var(--primary-color-green);
  margin: 1rem;
  cursor: pointer;
}

/* signup modal rest */

.signinModal {
  flex-direction: row-reverse;
}

.btn-signup {
  margin: 1rem;
  margin-top: 3rem;
}


/* remember password modal rest */

.rememberPasswordModal {
  position: relative;
  flex-direction: column;
}

.rememberPasswordModal div {
  display: flex;
  height: 50%;
  width: 100%;
}

.rememberPasswordModal div:nth-child(1) {
  justify-content: center;
  align-items: center;
}

.rememberPasswordModal div:nth-child(1) h2 {
  width: 50%;
}

.rememberPasswordModal div:nth-child(2) form {
  width: 35%;
}

.btn-rememberPassword {
  margin: 1rem;
  margin-top: 1rem;
}

/* PROFILE */

.profileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userProfile {
  display: flex;
  width: 100%;
  flex-direction: column;

  align-items: center;
}


.userProfile div {
  display: flex;
  width: 100%;
  justify-items: center;
  flex-direction: row;
  align-items: baseline;
  color: var(--first-color-brown);
}

.userProfile div p {
  /* width: 6rem; */
  width: 47%;
  margin-right: 1rem;
  text-align: end;
  color: var(--second-color-brown);
}

.userProfile div h2 {
  width: 53%;
}

.profileButtons {
  display: flex;
  height: 10rem;
  width: 60%;
  justify-content: space-between;
  align-items: center;
}

/* EDIT PROFILE */


.editProfileContainer {
  height: 64rem;
}

.editUserOpinionTextArea,
.editUserProfile input {
  padding: 0.5rem;
  font-size: 1.1rem;
  width: 20.3125rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.editUserOpinionTextArea::placeholder,
.editUserProfile input::placeholder {
  font-weight: 200;
  font-size: .9rem;
}

.btn-editProfileButton {
  justify-content: center;
}

/* .editUserOpinion {
  word-break: break-all;
  width: 18vw;
} */

/* GALERY IMAGES */
.containerImages {
  display: flex;
  flex-direction: column;
  margin: 0 10rem;

}

.gridImages {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 10rem;
}

.gridImage {
  position: relative;
  width: 400px;
  height: 400px;
  box-sizing: border-box;
  margin: 40px 20px;
}

.gridImage img {
  width: 400px;
  height: 400px;
  clip-path: inset(0 0 0 0);
  object-fit: cover;
  cursor: pointer;
}

/* like and comment */

.likeAndComments {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  color: #707070;
}

.number {
  letter-spacing: .5rem;
}


/* .circleLike,
.circleComments {
  clip-path: circle(100% at 0 100%);
  background-color: #B2B2B2;
  width: 5rem;
  height: 5rem;
}

.circleComments {
  clip-path: circle(100% at 100% 100%);
}

.likesImage {
  position: absolute;
  bottom: 0rem;
  left: 0rem;
}

.commentsImage {
  position: absolute;
  bottom: 0rem;
  right: 0rem;
}

.circleLike {
  margin-right: 1rem;
} */




/* add image */

.addImage {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}


.addImageButton {
  font-size: 5rem;
  color: var(--first-color-brown);
  cursor: pointer;
  border-radius: 50%;
}

.inputImageGaleryHidden {
  display: none;
}

.errorMesaggeDownloadImage {
  display: flex;
  flex-direction: column;
  color: hsl(0, 100%, 45%);
  align-self: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: normal;
  border: 2px solid hsl(0, 100%, 45%);
  width: 37.5rem;
}

/* PAGINATION */

.paggination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 2rem;
}

.paggination button {
  margin: 1rem;
  color: var(--primary-color-green);
  background-color: #fff;
  /* width: 50px;
  height: 50px; */
  font-size: 2rem;
  border: none;
  cursor: pointer;
}

.paggination button:disabled {
  color: var(--disable-color-button);
  cursor: not-allowed;
  /* cursor: auto; */
}

/* MODAL IMAGE */


.modalImage {
  width: 65rem;
  height: 52rem;
  flex-direction: column;
  border: #fff 1rem solid;
  box-sizing: border-box;
  overflow-y: scroll;
}

.modalImage::-webkit-scrollbar {
  overflow: hidden;
  display: none;
}

.lockScrollInBody {
  overflow: hidden;
}

.modalImage img {
  width: 100%;
  height: 100%;
}

.imageLikesComments {
  background: #fff;
  box-sizing: border-box;
}

.likesAndComments {
  margin: .5rem 0;
}

.userNickComment {
  font-size: .9rem;
  color: var(--gray-soft);
  padding: 1rem;
}


.comment {
  display: block;
  background: var(--gray-light);
  font-size: 1.2rem;
  padding: .5rem;
  padding-left: 1rem;
  border-radius: 1rem;
}

.addCommentForm {
  display: block;

}

.addCommentInput {
  width: 97%;
  border: none;
  /* margin: 1rem 0; */
}

.addCommentInput:focus {
  outline-width: 0;
}